body {
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.excaliburjs-game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 900px;
  max-height: 1600px;
  box-sizing: border-box;
}

.snippet-resizer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.snippet-resizer > .snippet-resized {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: white 2px solid;
  box-sizing: border-box;
}

@media (max-aspect-ratio: 9/16) {
  .excaliburjs-game-container {
    width: calc(100vw - 2px);
    height: calc(177.78vw - 2px); /* 16:9 aspect ratio */
    max-height: calc(100vh - 2px);
  }
}

@media (min-aspect-ratio: 9/16) {
  .excaliburjs-game-container {
    width: calc(56.25vh - 2px); /* 9:16 aspect ratio */
    height: calc(100vh - 2px);
    max-width: calc(100vw - 2px);
  }
}

/*    -----------------------  HTML ELEMENTS   -----------------------     */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.25s;
}

.fade-out {
  animation: fadeOut 0.25s;
}

.html-element-prompt {
  /* Default style is ok as is */
  opacity: 1;
}

.html-element-panel {
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  width: 80%;
  height: 30%;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.html-element-background {
  /* Default style is ok as is */
}

.html-element-panel {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add drop shadow */
}

.html-element-title {
  /* Default style is ok as is */
}

.html-element-body {
  /* Default style is ok as is */
}

.html-element-buttons {
  /* Default style is ok as is */
}

.html-element-button {
  width: 100%;
  margin-right: 5px; /* outside */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

html-element-button:hover {
  background-color: 'white'; /* Lighten on hover */
}

html-element-button:active {
  background-color: #444; /* Darken on click */
  animation: clickAnimation 0.2s; /* Animation on click */
}
